<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rover">
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="10"/>
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
        </inertial>
        <collision>
            <geometry>
                <cylinder length="0.6" radius="0.2"/>
            </geometry>
        </collision>
    </link>

    <xacro:property name="bodywidth" value="0.2" />
    <xacro:property name="bodylen" value="0.6" />
    <xacro:property name="depth" value="0.1" />
    <xacro:property name="mass" value="0.5" />
    <link name="right_leg">
        <visual>
            <geometry>
                <box size="${bodylen} ${bodywidth} ${depth}"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0.30 0 0"/>
        </visual>
        <inertial>
            <mass value="${mass}"/>
            <origin rpy="0 0 0" xyz="0.30 0 0"/>
            <inertia ixx="${mass*(depth**2 + bodywidth**2)/12}" ixy="0" ixz="0.0" iyy="${mass*(depth**2 + bodylen**2)/12}" iyz="0.0" izz="${mass*(bodywidth**2 + bodylen**2)/12}"/>
        </inertial>
        <collision>
            <geometry>
                <box size="${bodylen} ${bodywidth} ${depth}"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0.30 0 0"/>
        </collision>
    </link>

    <joint name="base_to_right_leg" type="continuous">
        <parent link="base_link"/>
        <child link="right_leg"/>
        <axis xyz="1 0 0"/>
        <origin xyz="0 -0.22 0.25" rpy="0 1.57 0" />
    </joint>


    <link name="left_leg">
        <visual>
            <geometry>
                <box size="${bodylen} ${bodywidth} ${depth}"/>
            </geometry>
            <origin rpy="0 1.57 0" xyz="0 0 -0.30"/>
        </visual>
        <inertial>
            <mass value="${mass}"/>
            <!-- Rviz display bug: it is not able to take into account the rpy of the center of mass, only Gazebo works correctly. -->
            <origin rpy="0 1.57 0" xyz="0 0 -0.30"/>
            <inertia ixx="${mass*(depth**2 + bodywidth**2)/12}" ixy="0" ixz="0.0" iyy="${mass*(depth**2 + bodylen**2)/12}" iyz="0.0" izz="${mass*(bodywidth**2 + bodylen**2)/12}"/>
        </inertial>
        <collision>
            <geometry>
                <box size="${bodylen} ${bodywidth} ${depth}"/>
            </geometry>
            <origin rpy="0 1.57 0" xyz="0 0 -0.30"/>
        </collision>
    </link>

    <joint name="base_to_left_leg" type="continuous">
        <parent link="base_link"/>
        <child link="left_leg"/>
        <axis xyz="0 0 1"/>
        <origin xyz="0 0.22 0.25" rpy="0 0 0" />
    </joint>


</robot>