<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rover">
    <!-- LINKS -->

    <link name="base_link"></link>

    <link name="chassis_link">
        <visual>
            <geometry>
                <box size="0.6 0.5 0.16"/>
            </geometry>
            <origin xyz="0.1 0 0.03"/>
        </visual>
    </link>

    <!-- LEGS -->

    <link name="leg_front_right">
        <visual>
            <geometry>
                <cylinder length="0.5" radius="0.012"/>
            </geometry>
            <origin xyz="0.236 -0.0835 0" rpy="1.57075 0 1.23073"/>
        </visual>
    </link>

    <link name="leg_front_left">
        <visual>
            <geometry>
                <cylinder length="0.5" radius="0.012"/>
            </geometry>
            <origin xyz="0.236 0.0835 0" rpy="-1.57075 0 -1.23073"/>
        </visual>
    </link>

    <link name="leg_rear_right">
        <visual>
            <geometry>
                <cylinder length="0.5" radius="0.012"/>
            </geometry>
            <origin xyz="-0.236 -0.0835 0" rpy="1.57075 0 -1.23073"/>
        </visual>
    </link>

    <link name="leg_rear_left">
        <visual>
            <geometry>
                <cylinder length="0.5" radius="0.012"/>
            </geometry>
            <origin xyz="-0.236 0.0835 0" rpy="-1.57075 0 1.23073"/>
        </visual>
    </link>

    <!-- SCIENCE BAY -->

    <!-- THING HOLDING WHEELS TO LEGS -->

    <link name="holder_front_right">
        <visual>
            <geometry>
                <cylinder length="0.101" radius="0.03"/>
            </geometry>
            <origin xyz="0 0 -0.03"/>
        </visual>
    </link>

    <link name="holder_front_left">
        <visual>
            <geometry>
                <cylinder length="0.101" radius="0.03"/>
            </geometry>
            <origin xyz="0 0 -0.03"/>
        </visual>
    </link>

    <link name="holder_rear_right">
        <visual>
            <geometry>
                <cylinder length="0.101" radius="0.03"/>
            </geometry>
            <origin xyz="0 0 -0.03"/>
        </visual>
    </link>

    <link name="holder_rear_left">
        <visual>
            <geometry>
                <cylinder length="0.101" radius="0.03"/>
            </geometry>
            <origin xyz="0 0 -0.03"/>
        </visual>
    </link>

    <!-- WHEELS -->

    <link name="wheel_front_right">
        <visual>
            <geometry>
                <cylinder length="0.15" radius="0.133"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.57075 0 0"/>
        </visual>
    </link>

    <link name="wheel_front_left">
        <visual>
            <geometry>
                <cylinder length="0.15" radius="0.133"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.57075 0 0"/>
        </visual>
    </link>

    <link name="wheel_rear_right">
        <visual>
            <geometry>
                <cylinder length="0.15" radius="0.133"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.57075 0 0"/>
        </visual>
    </link>

    <link name="wheel_rear_left">
        <visual>
            <geometry>
                <cylinder length="0.15" radius="0.133"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.57075 0 0"/>
        </visual>
    </link>

    <!-- LIDAR -->


    <link name="ouster">
        <visual name="chassis_visual">
            <origin xyz="0 0 0.0" rpy="0 0 1.5707" />
            <geometry>
                <mesh filename="package://astra_ros2_description/src/meshes/os1.dae" />
            </geometry>
        </visual>
    </link>

    <link name="ouster/imu" />

    <link name="ouster/lidar" />

    <!-- 9-axis IMU -->

    <link name="av_imu">
        <visual>
            <geometry>
                <sphere radius="0.025"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </visual>
    </link>

    <!-- CAMERAS -->

    <link name="camera_F">
        <!-- <visual>
      <geometry>
        <cylinder length="0.05" radius="0.025"/>
      </geometry>
    </visual> -->
    </link>

    <!-- JOINTS -->
    <joint name="base_link_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link" />
        <origin xyz="0 0 .343" rpy="0 0 0"/>
    </joint>

    <joint name="chassis_to_leg_front_right_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="leg_front_right"/>
        <origin xyz="0 -0.25 0" rpy="0 0 0"/>
    </joint>

    <joint name="chassis_to_leg_front_left_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="leg_front_left"/>
        <origin xyz="0 0.25 0" rpy="0 0 0"/>
    </joint>

    <joint name="chassis_to_leg_rear_right_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="leg_rear_right"/>
        <origin xyz="0 -0.25 0" rpy="0 0 0"/>
    </joint>

    <joint name="chassis_to_leg_rear_left_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="leg_rear_left"/>
        <origin xyz="0 0.25 0" rpy="0 0 0"/>
    </joint>

    <!-- <joint name="chassis_to_plate_rear_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="plate_rear"/>
    <origin xyz="-0.317 0 -0.0425" rpy="0 0 0"/>
  </joint> -->

    <joint name="leg_front_right_to_holder_front_right_joint" type="fixed">
        <parent link="leg_front_right"/>
        <child link="holder_front_right"/>
        <origin xyz="0.472 -0.167 0" rpy="0 0 0"/>
    </joint>

    <joint name="leg_front_left_to_holder_front_left_joint" type="fixed">
        <parent link="leg_front_left"/>
        <child link="holder_front_left"/>
        <origin xyz="0.472 0.167 0" rpy="0 0 0"/>
    </joint>

    <joint name="leg_rear_right_to_holder_rear_right_joint" type="fixed">
        <parent link="leg_rear_right"/>
        <child link="holder_rear_right"/>
        <origin xyz="-0.472 -0.167 0" rpy="0 0 0"/>
    </joint>

    <joint name="leg_rear_left_to_holder_rear_left_joint" type="fixed">
        <parent link="leg_rear_left"/>
        <child link="holder_rear_left"/>
        <origin xyz="-0.472 0.167 0" rpy="0 0 0"/>
    </joint>

    <joint name="holder_front_right_to_wheel_front_right_joint" type="fixed">
        <parent link="holder_front_right"/>
        <child link="wheel_front_right"/>
        <origin xyz="0 0 -0.2035" rpy="0 0 0"/>
    </joint>

    <joint name="holder_front_left_to_wheel_front_left_joint" type="fixed">
        <parent link="holder_front_left"/>
        <child link="wheel_front_left"/>
        <origin xyz="0 0 -0.2035" rpy="0 0 0"/>
    </joint>

    <joint name="holder_rear_right_to_wheel_rear_right_joint" type="fixed">
        <parent link="holder_rear_right"/>
        <child link="wheel_rear_right"/>
        <origin xyz="0 0 -0.2035" rpy="0 0 0"/>
    </joint>

    <joint name="holder_rear_left_to_wheel_rear_left_joint" type="fixed">
        <parent link="holder_rear_left"/>
        <child link="wheel_rear_left"/>
        <origin xyz="0 0 -0.2035" rpy="0 0 0"/>
    </joint>

    <joint name="$os_sensor_mount_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="ouster"/>
        <origin xyz="-0.1 -0.2 0.4" rpy="0 0.04 0"/>
    </joint>

    <joint name="os_sensor_imu_link_joint" type="fixed">
        <parent link="ouster"/>
        <child link="ouster/imu"/>
        <origin xyz="0.006253 -0.011775 0.007645" rpy="0 0 0"/>
    </joint>

    <joint name="os_sensor_lidar_link_joint" type="fixed">
        <parent link="ouster"/>
        <child link="ouster/lidar"/>
        <origin xyz="0.0 0.0 0.03618" rpy="0.0 0.0 0.0"/>
        <!-- <origin xyz="0.0 0.0 0.03618" rpy="0 0 3.1415926"/>  -->
    </joint>

    <joint name="chassis_to_av_imu_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="av_imu"/>
        <origin xyz="0 0.1 0.2" rpy="0 0 0"/>
    </joint>

    <joint name="camera_F_joint" type="fixed">
        <origin xyz="0.4 0 0.11" rpy="0 0.296 0"/>
        <parent link="chassis_link"/>
        <child link="camera_F"/>
    </joint>


</robot>