*.pyc
*.o
*.so
*/build/*
*/setup/*
*/devel/*
*/rosbag/*
*/__pycache__/*
*/lib/*
*/bin/*
*msg_gen
*srv_gen
*~
*build
*install
*log
*rosbag

*.g2o

*rosbag2_2023_08_26-00_14_07

## data files are not for gitHub

*.jpg
*.gif
*.mp4
*.bag
*.db3
*.db3-shm
*.db3-wal


# undesired folder

*.catkin_tools 
*.vscode 
*.catkin_workspace 
*.json
*.gv



