[submodule "sensors/lidar/ros2_ouster_drivers"]
	path = sensors/lidar/ros2_ouster_drivers
	url = https://github.com/EPFLXplore/ros2_ouster_drivers_Xplore.git
[submodule "xplore_description"]
	path = xplore_description
	url = git@github.com:EPFLXplore/ERC_DESCRIPTION.git
[submodule "custom_msg"]
	path = custom_msg
	url = git@github.com:EPFLXplore/ERC_SE_CustomMessages.git
