<?xml version="1.0"?>
<robot name="cameras" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_link"></link>

    <!-- OakD on the left-->
    <joint name="realsense1_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/> 
        <parent link="base_link"/>
        <child link="realsense1-frame"/>
    </joint>


    <link name="realsense1-frame"></link>

    <!-- Intel on the right-->
    <joint name="realsense2_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="realsense2-frame"/>
    </joint>

    <link name="realsense2-frame"></link>


</robot>